* { 
    margin: 0; 
    padding: 0; 
} 

.cabecalho { 
    padding: 25px 30px; 
} 


.cartao { 
    width: 275px; 
    height: 275px; 
} 


.cartao-frente, 
.cartao-verso { 
    width: 100%; 
    height: 100%; 
}
